@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-lg-5 text-center my-auto">
        <h1 class="display-4">Sentiment Analysis Tool</h1>
        <p class="lead">Sentiment analysis tool prototype for thesis presentation(CS THESIS 2-Section B58)</p>
        <a class="btn btn-dark btn-lg" asp-controller="Records" asp-action="Index">Try Now</a>
    </div>
    <div class="col-lg-7 text-center img-wrapper">
    </div>
</div>
