body {
    margin-bottom: 60px;
    background-color: darkblue;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.nav-item {
    color: white;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
}

p, h1 {
    color: white;
}

.jumbotron {
    height: 100vh;
    background-color: darkblue;
}

.img-wrapper {
    height: 80vh;
    background-image: url('../images/sentiment_analysis_image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}

.body-container {
    margin-left: 5%;
    margin-right: 5%;
}
