body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.jumbotron {
    height: 100vh;
}

.img-wrapper {
    height: 80vh;
    background-image: url('../images/sentiment_analysis_image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}

.body-container {
    margin-left: 5%;
    margin-right: 5%;
}

.card-height {
    height: 100vh;
}

.card-chart-height {
    height: 30vh;
}

.card-chart-height-2 {
    height: 38vh;
}

.table-height-comments {
    height: 80vh;
}

.table-height-word-frequency {
    height: 20vh;
}

.table-height-comments-transform {
    height: 25vh;
}

.overlayDiv {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99;
}

.table-sticky {
    position: sticky;
    top: 0;
}

#word-cloud {
    height: 10vh;
    width: 10vw;
    margin: 0 auto;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
