body {
    margin-bottom: 60px;
    background-color: #D3D3D3;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.nav-item {
    color: black;
}

.navbar-brand {
    color: black;
}

.nav-link {
    color: black;
}

p, h1 {
    color: black;
}

.jumbotron {
    height: 100vh;
    background-color: #D3D3D3;
}

.img-wrapper {
    height: 80vh;
    background-image: url('../images/sentiment_analysis_image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
}

.body-container {
    margin-left: 5%;
    margin-right: 5%;
}

.card-height {
    height: 100vh;
}

.card-chart-height {
    height: 30vh;
}

.card-chart-height-2 {
    height: 38vh;
}

.table-height-comments {
    height: 80vh;
}

.table-height-word-frequency{
    height: 27vh;
}

.card {
    background-color: #D3D3D3;
}
