@model SentimentAnalysisTool.Data.Models.SlangRecordModel
<div class="modal fade" id="slang-record-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Slang Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Type Slang Word</label>
                        <input type="text" class="form-control" placeholder="Enter Slang Record">
                    </div>
                    <label><b>Or</b></label>
                    <div class="form-group">
                        <label>Upload txt file</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="file" id="customfile" required />
                                <label class="custom-file-label" for="customfile">Choose file</label>
                            </div>
                        </div>
                    </div>                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>