@model SentimentAnalysisTool.Web.Models.TextProcessingViewModel
<div class="tab-content mt-1" id="myTabContent">
    <div class="tab-pane fade show active" id="slang" role="tabpanel" aria-labelledby="home-tab">
        @await Html.PartialAsync("_SlangRecordPartial", Model.SlangRecords)
    </div>
    <div class="tab-pane fade" id="abbrevs" role="tabpanel" aria-labelledby="profile-tab">
        @await Html.PartialAsync("_AbbreviationPartial", Model.Abbreviations)
    </div>
    <div class="tab-pane fade" id="corpus-words" role="tabpanel" aria-labelledby="home-tab">
        @await Html.PartialAsync("_CorpusWordPartial", Model.Corpuses)
    </div>
</div>