@model SentimentAnalysisTool.Web.Models.TextProcessingViewModel

<div class="row">
    <div class="col-12">
        <div class="card mb-2 shadow-sm">
            <div class="card-header">
                Corpus Types
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <div class="mr-auto">
                        @foreach (var item in Model.CorpusTypes)
                        {
                            <a type="button" class="btn btn-secondary"
                               data-ajax="true"
                               data-ajax-update="#corpus-data-panel"
                               data-ajax-loading="#spinner-upload"
                               asp-controller="TextProcessing"
                               asp-action="LoadCorpusTypeData"
                               asp-route-corpusTypeId="@item.CorpusTypeId">
                                @item.CorpusTypeName
                                <i class="fas fa-book"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card mb-2 shadow-sm">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#slang" role="tab" aria-selected="true">Slang Records</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#abbrevs" role="tab" aria-selected="false">Abbreviations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#corpus-words" role="tab" aria-selected="false">Corpus</a>
                </li>
            </ul>
            <div id="corpus-data-panel">
                @await Html.PartialAsync("_CorpusDataPartial", Model)
            </div>
        </div>
    </div>
</div>
