@model SentimentAnalysisTool.Web.Models.TextProcessingViewModel

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#slang" role="tab" aria-selected="true">Slang Records</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#abbrevs" role="tab" aria-selected="false">Abbreviations</a>
    </li>
</ul>
<div class="tab-content mt-1" id="myTabContent">
    <div class="tab-pane fade show active" id="slang" role="tabpanel" aria-labelledby="home-tab">
        <button type="button" class="btn btn-dark mb-1">Add Slang words <i class="fas fa-plus-circle"></i></button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="abbrevs" role="tabpanel" aria-labelledby="profile-tab">
        <button type="button" class="btn btn-dark mb-1">Add Abbreviations <i class="fas fa-plus-circle"></i></button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
