<!-- Modal -->
@model SentimentAnalysisTool.Data.Models.HybridModel
@{var i = ViewData["index"];}
<div class="modal fade" id="resultModal_@i" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hybrid Computed Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Hybrid Score: </b>@Model.HybridScore</p>
                <p><b>Hybrid Value: </b>@Model.HybridValue</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>