@using SentimentAnalysisTool.Web.Enums
@using SentimentAnalysisTool.Web.Models.CommentViewModels
@model SentimentAnalysisTool.Web.Models.RecordDisplayViewModel
<div class="col-6">
    <div class="card shadow-sm card-height d-flex">
        <div class="card-header">
            <b>Comments</b> <i class="fas fa-comments"></i><br />
            Total number of rows: @Model.TotalNumberOfCommentRows <br />
            Total number of accepted rows: @Model.TotalNumberOfAcceptedCommentRows
        </div>
        <div class="card-body align-items-center d-flex justify-content-center">
            @if (Model.Algorithmn == AlgorithmnType.Vader)
            {
                @await Html.PartialAsync("_CommentsPartial", (List<CommentVaderViewModel>)Model.CommentVaderViewModels.ToList())
            }
            @if (Model.Algorithmn == AlgorithmnType.SentiWordNet)
            {
                @await Html.PartialAsync("_CommentsPartial", (List<CommentSentiWordNetViewModel>)Model.CommentSentiwordModels.ToList())
            }
            @if (Model.Algorithmn == AlgorithmnType.Hybrid)
            {
                @await Html.PartialAsync("_CommentsPartial", (List<CommentHybridViewModel>)Model.CommentHybridViewModels.ToList());
            }
            @if (Model.Algorithmn == null)
            {
                <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_oga1x3jk.json" background="transparent" speed="1" style="width: 600px; height: 600px;" loop autoplay></lottie-player>
            }
        </div>
    </div>
</div>
<div class="col-6">
    <div class="row">
        <div class="col-6">
            <div class="card mb-2 shadow-sm card-chart-height d-flex">
                <div class="card-header">
                    <b>Word Frequencies</b> <i class="fas fa-wave-square"></i>
                </div>
                <div class="card-body align-items-center d-flex justify-content-center">
                    @if (Model.WordFrequencyViewModels == null)
                    {
                        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_oga1x3jk.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                    }
                    else
                    {
                        @await Html.PartialAsync("_WordFrequencyPartial", Model.WordFrequencyViewModels)
                    }
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card mb-2 shadow-sm card-chart-height d-flex">
                <div class="card-header">
                    <b>Review Classification</b> <i class="fas fa-percentage"></i>
                </div>
                <div class="card-body align-items-center d-flex justify-content-center">
                    @if (Model.ReviewClassification == null)
                    {
                        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_oga1x3jk.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                    }
                    else
                    {
                        @await Html.PartialAsync("_ReviewClassificationPartial", Model.ReviewClassification)
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card mb-2 shadow-sm card-chart-height">
                <div class="card-header">
                    <b>Sentiment over time</b>
                </div>
                <div class="card-body align-items-center d-flex justify-content-center">
                    This is some text within a card body.
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card mb-2 shadow-sm card-chart-height">
                <div class="card-header">
                    <b>Keyword cloud</b>
                </div>
                <div class="card-body align-items-center d-flex justify-content-center" id="word-cloud"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-2 shadow-sm card-chart-height-2">
                <div class="card-header">
                    <b>TextProcessing</b> <i class="fas fa-keyboard"></i>
                </div>
                <div class="card-body align-items-center d-flex justify-content-center">
                    @if (Model.CommentTransformViewModels == null)
                    {
                        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_oga1x3jk.json" background="transparent" speed="1" style="width: 400px; height: 300px;" loop autoplay></lottie-player>
                    }
                    else
                    {
                        @await Html.PartialAsync("_CommentsTransformPartial", Model.CommentTransformViewModels)
                    }
                </div>
            </div>
        </div>
    </div>
</div>
