@model SentimentAnalysisTool.Web.Models.ReviewClassficationViewModel
@if (Model.PositivePercent != null)
{
    <p>Positive Percent: @Model.PositivePercent</p>
}
@if (Model.NegativePercent != null)
{
    <p>Negative Percent: @Model.NegativePercent</p>
}
