@model SentimentAnalysisTool.Web.Models.CommentViewModels.UploadCsvCommentViewModel

<div class="row">
    <div class="col-12">
        <div class="card mb-2">
            <div class="card-body">
                <div class="row">
                    <form asp-controller="Records" asp-action="UploadCsvFile" method="post"
                          enctype="multipart/form-data">
                        <input type="file" name="file" />
                        <input type="hidden" name="algorithmnType" value="@SentimentAnalysisTool.Web.Enums.AlgorithmnType.Hybrid" />
                        <button type="submit">Upload File</button>
                    </form>
                    <button type="button" class="btn btn-outline-primary m-1">Settings_2</button>
                    <button type="button" class="btn btn-outline-primary m-1">Settings_3</button>
                    <button type="button" class="btn btn-outline-primary m-1">Settings_4</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        @if (Model.Vader != null && Model.Hybrid == null && Model.SentiWordNet == null)
        {
            @await Html.PartialAsync("_CommentsPartialVader", Model.Vader)
        }
        @if (Model.SentiWordNet != null && Model.Hybrid == null && Model.Vader == null)
        {
            @await Html.PartialAsync("_CommentsPartialSentiwordnet", Model.SentiWordNet)
        }
        @if (Model.Hybrid != null && Model.SentiWordNet == null && Model.SentiWordNet == null)
        {
            @await Html.PartialAsync("_CommentsPartialHybrid", Model.Hybrid)
        }
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <div class="card mb-2 shadow-sm card-chart-height">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card mb-2 shadow-sm card-chart-height">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card mb-2 shadow-sm card-chart-height">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card mb-2 shadow-sm card-chart-height">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mb-2 shadow-sm card-chart-height-2">
                    <div class="card-body">
                        This is some text within a card body.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

