@model SentimentAnalysisTool.Web.Models.RecordDisplayViewModel

<div class="row">
    <div class="col-12">
        <div class="card mb-2 shadow-sm">
            <div class="card-header">
                Settings
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#upload-modal">
                            Upload File <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="spinner-upload" class="overlayDiv" style="display:none;">
    <lottie-player src="https://assets6.lottiefiles.com/datafiles/bEYvzB8QfV3EM9a/data.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
</div>
<div class="row" id="record-display">
    @await Html.PartialAsync("_RecordDisplayPartial", Model)
</div>

@await Html.PartialAsync("_UploadFileFormPartial")

@section scripts{
    <script>
        $(document).ready(function () {
            $('form#formUpload').submit(function (event) {
                event.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UploadCsvFile","Records")',
                    data: formData,
                    beforeSend: function () {
                        $("#upload-modal").modal('hide');
                        $('#spinner-upload').show();
                    },
                    complete: function () {
                        $('#spinner-upload').hide();
                    },
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        promptHasNetwork(response);
                    },
                    error: function (response) { promptNoNetwork(response) },
                    failure: function (response) { promptNoNetwork(response) },
                }).done(function (response) {
                    $('#record-display').html(response.html);
                    renderReviewClassification(response);
                });
            });
        });
    </script>
    <script src="~/js/records-index.js"></script>
}
