@model SentimentAnalysisTool.Web.Models.RecordDisplayViewModel

<div class="row">
    <div class="col-12">
        <div class="card mb-2 shadow-sm">
            <div class="card-header">
                Settings
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <div class="mr-auto">
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#upload-modal">
                            Upload File <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                    <div class="ml-auto">
                        <button type="button" id="btnConfusionMatrixProcess" class="btn btn-dark" style="display:none;" data-toggle="modal">
                            Confusion Matrix TextProcessing <i class="fas fa-robot"></i>
                        </button>
                        <button type="button" id="btnConfusionMatrixAlgo" class="btn btn-dark" style="display:none;" data-toggle="modal">
                            Confusion Matrix Algorithmn <i class="fas fa-robot"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="spinner-upload" class="overlayDiv" style="display:none;">
    <lottie-player src="https://assets6.lottiefiles.com/datafiles/bEYvzB8QfV3EM9a/data.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
</div>
<div class="row" id="record-display">
    @await Html.PartialAsync("_RecordDisplayPartial", Model)
</div>

@await Html.PartialAsync("_UploadFileFormPartial")

@section scripts{
    <script>
        $(document).ready(function () {
            $('form#formUpload').submit(function (event) {
                event.preventDefault();
                var formData = new FormData(this);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UploadCsvFile","Records")',
                    data: formData,
                    beforeSend: function () {
                        $("#upload-modal").modal('hide');
                        $('#spinner-upload').show();
                    },
                    complete: function () {
                        $('#spinner-upload').hide();
                    },
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        $("#btnConfusionMatrixProcess").show();
                        $("#btnConfusionMatrixAlgo").show();
                        promptHasNetwork(response);
                        console.log(response.textProcessingConfusionMatrix);
                        $("#btnConfusionMatrixProcess").on("click", function () {
                            Swal.fire({
                                title: '<strong>Textprocessing Accuracy</strong>',
                                icon: 'info',
                                html: `<table class="table">
                                        <thead>
                                            <tr>
                                                <th>Accuracy</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>${response.textProcessingAccuracy}</td>
                                            </tr>
                                </tbody>
                                </table>`,
                                showCloseButton: true,
                                showCancelButton: true,
                                focusConfirm: false,
                                confirmButtonText:
                                    '<i class="fa fa-thumbs-up"></i> Great!',
                                confirmButtonAriaLabel: 'Thumbs up, great!',
                                cancelButtonText:
                                    '<i class="fa fa-thumbs-down"></i>',
                                cancelButtonAriaLabel: 'Thumbs down'
                            });
                        });
                        $("#btnConfusionMatrixAlgo").on("click", function () {
                            Swal.fire({
                                title: '<strong>Confusion Matrix</strong>',
                                icon: 'info',
                                html:
                                    `<table class="table">
                                        <thead>
                                            <tr>
                                                <th>Accuracy</th>
                                                <th>Precision</th>
                                                <th>Recall</th>
                                                <th>F1 Score</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>${response.textProcessingAccuracy}</td>
                                                <td>${response.textProcessingAccuracy}</td>
                                                <td>${response.textProcessingAccuracy}</td>
                                                <td>${response.textProcessingAccuracy}</td>
                                            </tr>
                                </tbody>
                                </table>`,
                                showCloseButton: true,
                                showCancelButton: true,
                                focusConfirm: false,
                                confirmButtonText:
                                    '<i class="fa fa-thumbs-up"></i> Great!',
                                confirmButtonAriaLabel: 'Thumbs up, great!',
                                cancelButtonText:
                                    '<i class="fa fa-thumbs-down"></i>',
                                cancelButtonAriaLabel: 'Thumbs down'
                            });
                        });
                    },
                    error: function (response) { promptNoNetwork(response) },
                    failure: function (response) { promptNoNetwork(response) },
                }).done(function (response) {
                    $('#record-display').html(response.html);
                    renderReviewClassification(response);
                });
            });
        });



    </script>
    <script src="~/js/records-index.js"></script>
}
